<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-QUERY" data-toc-modified-id="SQL-QUERY-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL QUERY</a></span><ul class="toc-item"><li><span><a href="#Load-files" data-toc-modified-id="Load-files-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load files</a></span></li><li><span><a href="#Create-DB" data-toc-modified-id="Create-DB-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Create DB</a></span></li><li><span><a href="#Orders-per-day" data-toc-modified-id="Orders-per-day-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Orders per day</a></span></li><li><span><a href="#Sales-per-day" data-toc-modified-id="Sales-per-day-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Sales per day</a></span></li><li><span><a href="#Top-selling-product" data-toc-modified-id="Top-selling-product-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Top selling product</a></span></li><li><span><a href="#Percentage-of-orders-with-discount-codes" data-toc-modified-id="Percentage-of-orders-with-discount-codes-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Percentage of orders with discount codes</a></span></li><li><span><a href="#Percentage-of-orders-with-product-SKU-PM591" data-toc-modified-id="Percentage-of-orders-with-product-SKU-PM591-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Percentage of orders with product SKU PM591</a></span></li><li><span><a href="#Hour-of-day-people-buy-most-products" data-toc-modified-id="Hour-of-day-people-buy-most-products-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Hour of day people buy most products</a></span></li></ul></li></ul></div>

# SQL QUERY

In [9]:
import sqlite3
import pandas as pd

## Load files

In [12]:
orders = pd.read_csv('platanomelon/orders.csv')

In [6]:
orders

,created_at,order_number,sku,total_order_price,discount_code
0,2020-11-17 09:17:04+00:00,9156,73PM419,54,NaN
1,2020-11-17 09:17:04+00:00,9156,730508,54,NaN
2,2020-11-17 09:17:04+00:00,9156,730504,54,NaN
3,2020-11-17 09:17:04+00:00,9156,PM591,54,NaN
4,2020-11-17 09:17:04+00:00,9156,LUBMONO1,54,NaN
...,...,...,...,...,...
24409,2020-11-11 00:02:05+00:00,570,LUBMONO1,75,EW76A8
24410,2020-11-11 00:02:05+00:00,570,PM591,75,EW76A8
24411,2020-11-11 00:00:55+00:00,569,PILAS-AA-4,50,NaN
24412,2020-11-11 00:00:55+00:00,569,73PM413,50,NaN
24413,2020-11-11 00:00:55+00:00,569,LUBMONO1,50,NaN

In [14]:
price_analytics = pd.read_csv('price_analytics.csv', index_col=0)

In [15]:
price_analytics

              Date        sku  unit_price  units
0     Feb 15, 2021  M735H7159       55.71  262.0
1     Feb 15, 2021  3637H1617      140.36    5.0
2     Feb 15, 2021  P036H2062       68.03   13.0
3     Feb 15, 2021  M630H8980       49.77  186.0
4     Feb 15, 2021  P037H2072       68.03    5.0
...            ...        ...         ...    ...
1666  Jul 31, 2020  P036H2068       94.57    5.0
1667  Jul 31, 2020  P036H2067       81.01    5.0
1668  Jul 31, 2020  P036H2062       59.05   29.0
1669  Jul 31, 2020  M630H8980       49.90  363.0
1670  Jul 31, 2020  2734H9994       24.11    9.0

[1671 rows x 4 columns]

## Create DB

In [16]:
db = 'sqlite:///data.db'

In [17]:
orders.to_sql('orders', db)

In [18]:
price_analytics.to_sql('price_analytics', db)

In [14]:
%load_ext sql

In [16]:
%sql sqlite:////Users/tinkerbell/ironhack/Platanomelon/platanomelon/data.db

In [28]:
# !pip install -U ipython-sql

In [1]:
# !pip install prettytable==0.7.2

In [43]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
import prettytable

In [47]:
prettytable.__dict__

{'__name__': 'prettytable',
 '__doc__': None,
 '__package__': 'prettytable',
 '__loader__': <_frozen_importlib_external.SourceFileLoader at 0x115f76978>,
 '__spec__': ModuleSpec(name='prettytable', loader=<_frozen_importlib_external.SourceFileLoader object at 0x115f76978>, origin='/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/__init__.py', submodule_search_locations=['/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable']),
 '__path__': ['/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable'],
 '__file__': '/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/__init__.py',
 '__cached__': '/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/__pycache__/__init__.cpython-37.pyc',
 '__builtins__': {'__name__': 'builtins',
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__package__': '',
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
  '__build_class__': <function __build_class__>,
  '__import__': <function __import__>,
  'abs': <function abs(x, /)>,
  'all': <function all(iterable, /)>,
  'any': <function any(iterable, /)>,
  'ascii': <function ascii(obj, /)>,
  'bin': <function bin(number, /)>,
  'breakpoint': <function breakpoint>,
  'callable': <function callable(obj, /)>,
  'chr': <function chr(i, /)>,
  'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)>,
  'delattr': <function delattr(obj, name, /)>,
  'dir': <function dir>,
  'divmod': <function divmod(x, y, /)>,
  'eval': <function eval(source, globals=None, locals=None, /)>,
  'exec': <function exec(source, globals=None, locals=None, /)>,
  'format': <function format(value, format_spec='', /)>,
  'getattr': <function getattr>,
  'globals': <function globals()>,
  'hasattr': <function hasattr(obj, name, /)>,
  'hash': <function hash(obj, /)>,
  'hex': <function hex(number, /)>,
  'id': <function id(obj, /)>,
  'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x105134320>>,
  'isinstance': <function isinstance(obj, class_or_tuple, /)>,
  'issubclass': <function issubclass(cls, class_or_tuple, /)>,
  'iter': <function iter>,
  'len': <function len(obj, /)>,
  'locals': <function locals()>,
  'max': <function max>,
  'min': <function min>,
  'next': <function next>,
  'oct': <function oct(number, /)>,
  'ord': <function ord(c, /)>,
  'pow': <function pow(x, y, z=None, /)>,
  'print': <function print>,
  'repr': <function repr(obj, /)>,
  'round': <function round(number, ndigits=None)>,
  'setattr': <function setattr(obj, name, value, /)>,
  'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
  'sum': <function sum(iterable, start=0, /)>,
  'vars': <function vars>,
  'None': None,
  'Ellipsis': Ellipsis,
  'NotImplemented': NotImplemented,
  'False': False,
  'True': True,
  'bool': bool,
  'memoryview': memoryview,
  'bytearray': bytearray,
  'bytes': bytes,
  'classmethod': classmethod,
  'complex': complex,
  'dict': dict,
  'enumerate': enumerate,
  'filter': filter,
  'float': float,
  'frozenset': frozenset,
  'property': property,
  'int': int,
  'list': list,
  'map': map,
  'object': object,
  'range': range,
  'reversed': reversed,
  'set': set,
  'slice': slice,
  'staticmethod': staticmethod,
  'str': str,
  'super': super,
  'tuple': tuple,
  'type': type,
  'zip': zip,
  '__debug__': True,
  'BaseException': BaseException,
  'Exception': Exception,
  'TypeError': TypeError,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'GeneratorExit': GeneratorExit,
  'SystemExit': SystemExit,
  'KeyboardInterrupt': KeyboardInterrupt,
  'ImportError': ImportError,
  'ModuleNotFoundError': ModuleNotFoundError,
  'OSError': OSError,
  'EnvironmentError': OSError,
  'IOError': OSError,
  'EOFError': EOFError,
  'RuntimeError': RuntimeError,
  'RecursionError': RecursionError,
  'NotImplementedError': NotImplementedError,
  'NameError': NameError,
  'UnboundLocalError': UnboundLocalError,
  'AttributeError': AttributeError,
  'SyntaxError': SyntaxError,
  'IndentationError': IndentationError,
  'TabError': TabError,
  'LookupError': LookupError,
  'IndexError': IndexError,
  'KeyError': KeyError,
  'ValueError': ValueError,
  'UnicodeError': UnicodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'AssertionError': AssertionError,
  'ArithmeticError': ArithmeticError,
  'FloatingPointError': FloatingPointError,
  'OverflowError': OverflowError,
  'ZeroDivisionError': ZeroDivisionError,
  'SystemError': SystemError,
  'ReferenceError': ReferenceError,
  'MemoryError': MemoryError,
  'BufferError': BufferError,
  'Warning': Warning,
  'UserWarning': UserWarning,
  'DeprecationWarning': DeprecationWarning,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'SyntaxWarning': SyntaxWarning,
  'RuntimeWarning': RuntimeWarning,
  'FutureWarning': FutureWarning,
  'ImportWarning': ImportWarning,
  'UnicodeWarning': UnicodeWarning,
  'BytesWarning': BytesWarning,
  'ResourceWarning': ResourceWarning,
  'ConnectionError': ConnectionError,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'IsADirectoryError': IsADirectoryError,
  'NotADirectoryError': NotADirectoryError,
  'InterruptedError': InterruptedError,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'TimeoutError': TimeoutError,
  'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
  'copyright': Copyright (c) 2001-2019 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'license': Type license() to see the full license text,
  'help': Type help() for interactive help, or help(object) for help about object.,
  '__IPYTHON__': True,
  'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
  'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x105134208>>},
 '__version__': '0.9.2',
 '_compact': <module 'prettytable._compact' from '/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/_compact.py'>,
 'prettytable': <module 'prettytable.prettytable' from '/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/prettytable.py'>,
 'PrettyTable': prettytable.prettytable.PrettyTable,
 'ALL': 1,
 'HEADER': 3,
 'MSWORD_FRIENDLY': 11,
 'NONE': 2,
 'factory': <module 'prettytable.factory' from '/Users/alberto/.local/share/virtualenvs/notebooks-LWRlkxsC/lib/python3.7/site-packages/prettytable/factory.py'>,
 'from_csv': <function prettytable.factory.from_csv(fp, field_names=None, **kwargs)>,
 'from_db_cursor': <function prettytable.factory.from_db_cursor(cursor, **kwargs)>,
 'from_html': <function prettytable.factory.from_html(html_code, **kwargs)>,
 'from_html_one': <function prettytable.factory.from_html_one(html_code, **kwargs)>}

In [ ]:
%config SqlMagic.style='ALL'

In [ ]:
%sql sqlite:///data.db

In [ ]:
%%sql
select *
from sqlite_master

In [ ]:
%%sql
select *
from orders
limit 20

## Orders per day

In [16]:
%%sql
select date(created_at), count(order_number) as num
from orders
group by date(created_at)
order by num desc 
limit 10;

 * sqlite:///data.db
Done.

[('2020-11-16', 8429),
 ('2020-11-11', 5546),
 ('2020-11-12', 2999),
 ('2020-11-15', 2235),
 ('2020-11-14', 2150),
 ('2020-11-13', 1917),
 ('2020-11-17', 1138)]

## Sales per day

In [39]:
%%sql
select date(created_at), sum(total_order_price) as sales
from orders
group by date(created_at)
order by sales desc 
limit 10;

 * sqlite:///data.db
Done.

[('2020-11-16', 502033),
 ('2020-11-11', 308838),
 ('2020-11-12', 161420),
 ('2020-11-15', 127521),
 ('2020-11-14', 125088),
 ('2020-11-13', 111716),
 ('2020-11-17', 63994)]

## Top selling product

In [17]:
%%sql
SELECT sku as Product, COUNT(*) as Total
FROM orders
GROUP BY sku
ORDER BY Total desc
limit 1

 * sqlite:///data.db
Done.

[('LUBMONO1', 8210)]

## Percentage of orders with discount codes

In [ ]:
# Â¿CÃ³mo saco el porcentaje a esto?

In [19]:
%%sql
SELECT 100* count(*)/(select count(*) from orders) as percent_with_discount
FROM orders
WHERE discount_code is not null

 * sqlite:///data.db
Done.

[(36,)]

## Percentage of orders with product SKU PM591

In [21]:
%%sql
SELECT 100* count(*)/(select count(*) from orders) as percent_PM591
FROM orders
WHERE sku = 'PM591';

 * sqlite:///data.db
Done.

[(6,)]

## Hour of day people buy most products

In [35]:
%%sql
select strftime('%H', datetime(created_at)) hora, count(*) orders
from orders
group by strftime('%H', datetime(created_at))
order by strftime('%H', datetime(created_at));

 * sqlite:///data.db
Done.

[('00', 740),
 ('01', 282),
 ('02', 164),
 ('03', 68),
 ('04', 92),
 ('05', 58),
 ('06', 194),
 ('07', 391),
 ('08', 751),
 ('09', 832),
 ('10', 873),
 ('11', 948),
 ('12', 865),
 ('13', 978),
 ('14', 1397),
 ('15', 1750),
 ('16', 1562),
 ('17', 1623),
 ('18', 1528),
 ('19', 1845),
 ('20', 1848),
 ('21', 1821),
 ('22', 2092),
 ('23', 1712)]

In [36]:
%%sql
select strftime('%H', datetime(created_at)) hora, count(*) orders
from orders
group by strftime('%H', datetime(created_at))
order by orders desc
limit 1;

 * sqlite:///data.db
Done.

[('22', 2092)]